body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input,button{margin:0;padding:0;border:0}
body{font-size:12px;margin:0 auto;background:#f8f8f8;font-family:'Microsoft YaHei',Helvetica,Arial,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a,a:active,a:hover,a:focus,a:visited{text-decoration:none}
a,img{-webkit-touch-callout:none}
input,button{outline: none;border: none}
ol,ul,li{list-style:none}
.fl{float:left}
.fr{float:right}
textarea,input[type="password"],input[type="text"]{resize:none;outline:0;-webkit-appearance:none;white-space:pre-wrap;word-wrap:break-word;background:#fff}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}

.main{
    width:10rem;
    margin:0 auto;
    overflow: hidden;
    position:relative;
}

/*头部*/
.icon-menu{
    font-size:24px;
    color:#000;
}
.mobile_header{
    height: 60px;
    background-color: #fff;
    color: #333;
    position: relative;
    border-bottom: 1px #eee solid;
    text-align: center;
    margin-bottom: 24px;
}
.iconfont.icon{
    position:absolute;
    font-size:24px;
    top:50%;
    margin-top:-12px;
}
.icon-zhankai{
    left:8px;
}
.icon-yonghu{
    right:8px;
}
.mobile_header .logo img {
    height: 32px;
}
.mobile_header h1{
    padding:14px 0;
}

.content_article{
    width:90%;
    margin:0 auto;
    border: 1px #f2f2f2 solid;
    padding:2%;
    background: #fff;
}
.content_article h2{
    font-size:18px;
    line-height: 24px;
    font-weight: normal;
    color: #333;
    padding-bottom:15px;
}

.postinfo {
    color: #999;
    margin: 2px 0 8px;
    overflow: hidden;
    position:relative;
}

.postinfo>span, .postinfo>div>span {
    padding: 0 6px;
    position: relative;
    display: inline-block;
    line-height: 24px;
}

.postinfo>span:before, .postinfo>div>span:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background-color: #ddd;
    right: -1px;
    top: 7px;
}
.postinfo a {
    color: #999;
}
.postinfo .author img {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 6px;
}

.postinfo span:last-child:before {
    background: 0;
}
.content-post{
    margin-top:20px;
    text-align: justify;
    line-height: 24px;
    color:#666;
}
.content-post p {
    margin: 8px 0 24px;
    font-size: 14px;
    text-indent: 2em;
}

.content-post img {
    margin-top: 5px;
    margin-bottom: 8px;
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.footer {
    padding: 20px 10px;
    background-color: #fff;
    border-top: 1px #f2f2f2 solid;
    text-align: center;
    line-height: 28px;
    color:#999;
    margin-top:32px;
    margin-bottom: 75px;
}

.icon-focus{
    position:absolute;
    right:0;
    top:2px;
    color:#ccc;
    cursor: pointer;
}

.articleLike{
    width:120px;
    height:40px;
    background: #ccc;
    margin:0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    cursor: pointer;
}
.icon-like{
    color:#fff;
}
.articleLike span{
    color:#fff;
}

/*评论*/
.comment{
    width:10rem;
    height:70px;
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-5rem;
    background: #fff;
}
.comment .kuan{
    width:50%;
    height:30px;
    border:1px solid #e9ebea;
    background: #f3f5f2;
    border-radius: 30px;
    display: block;
    margin-left:2%;
    margin-top:20px;
    float: left;
}
.iconfont.icon-comment{
    font-size: 25px;
    color: #000;
    margin-top: 23px;
    float: left;
    margin-left:24px;
}
.number{
    font-size: 12px;
    color: #f00;
    margin-top: 26px;
    float: left;
    margin-left:2px;
}
.iconfont.icon-sc{
    font-size: 26px;
    color: #000;
    margin-top: 20px;
    float: left;
    margin-left:12px;
    cursor: pointer;
}
.iconfont.icon-write{
    color: #000;
    padding-left:10px;
    line-height:30px;
}
.comment-input{
    width:10rem;
    position:fixed;
    height:70px;
    background: #fff;
    bottom:-70px;
    left:50%;
    margin-left:-5rem;
    z-index: 3;
    overflow: hidden;
}
.comment-input input{
    width: 7.4rem;
    border: none;
    height: 36px;
    background: #f3f5f2;
    border-radius: 5px;
    margin-top:17px;
    margin-left:0.2rem;
    padding-left:0.2rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size:16px;
    color:#000;
    float: left;
}
.comment-input span{
    width:1.8rem;
    height:36px;
    background: #007aff;
    font-size:16px;
    color:#fff;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    margin-left:0.1rem;
    float: left;
    margin-top: 16px;
    display: none;
}

.comment-kuan{
    position:fixed;
    width:10rem;
    top:0;
    left:50%;
    margin-left:-5rem;
    background: rgba(0,0,0,0.5);
    height:0;
}
.comment_content{width:100%;margin:20px auto 0;}
.m_comment_list_sj{padding: 0 0.2rem;margin-bottom: 20px;position:relative}
.icon_hot{background: url(http://m.cebnet.com.cn/upload/pinglun/jiajing.png) no-repeat;background-size:30px 30px;width:30px;height:30px;position:absolute;right:0.6rem;top:10px;z-index: 1}
.tab{text-align: center;border-bottom: 2px solid #999999;height:40px;}
.tab li{width:50%;float:left;text-align: center;letter-spacing:2px;height:40px;line-height: 40px;font-size: 20px;color: #666666;position:relative}
.bottom_line{width:100%;height:1px;background: #999999}
.tab li.active1{color:#3366cc;}
.tab li .bottom_line.active{width:100%;height:3px;background: #999999;position: absolute;bottom:0}
.argue {display:none}
.comment_author{width:1.4rem;height:1.4rem;border-radius: 50%;overflow: hidden;}
.comment_author img{width:100%}
.m_comment_list {margin-top: 20px;}
.m_comment_list .comment_name{margin-left:0.4rem;margin-top: 0.2rem;}
.m_comment_list .comment_name p{color:#3366cc;font-size:16px;}
.m_comment_list .comment_name span{color:#999999;font-size:12px;line-height: 20px;}
.argue_content{padding:0 0.4rem;}
.argue_content p{color:#333333;font-size:14px;line-height: 20px;padding-top: 0.2rem;padding-bottom: 10px;border-bottom: 1px solid #cccccc}
.action{margin-top:0.3rem;text-align: right}
.action span{font-size:16px;color:#3366cc;margin-right:18px;padding-left: 25px;}
.action .icon_zan{cursor:pointer;background: url(http://m.cebnet.com.cn/upload/2017wapnewtu/icon_xin.png) no-repeat left center;background-size:20px; }
.action .icon_hf{cursor:pointer;background: url(http://m.cebnet.com.cn/upload/2017wapnewtu/icon_huifu.png) no-repeat left center;background-size:20px; }
.action .icon_zan.active{background:url(http://zhuanti.cebnet.com.cn/upload/xtb/12.png) no-repeat left center;}

.action1{margin-top:0.2rem;}
.action1 span{font-size:12px;color:#3366cc;padding-left: 20px;}
.action1 .icon_zan1{cursor:pointer;margin-right:10px;background: url(http://m.cebnet.com.cn/upload/2017wapnewtu/icon_xin.png) no-repeat left center;background-size:18px; }
.action1 .icon_hf1{cursor:pointer;background: url(http://m.cebnet.com.cn/upload/2017wapnewtu/icon_huifu.png) no-repeat left center;background-size:18px; }
.action1 .icon_zan1.active{background:url(http://zhuanti.cebnet.com.cn/upload/xtb/12.png) no-repeat left center;background-size: 18px;}
.action2{
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}
.action3{
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
}
/*盖楼*/
.hf_box{padding:0 0.4rem}
.hf_gl{position:relative; background: #f5f5f5;display:none;padding:0.4rem 0.2rem;margin-top:0.2rem;border-radius: 5px;text-align: left}
.hf_box .hf_gl:first-child{display:block}
.hf_gl h1 img {width: 24px;height: 24px;border-radius: 50%;overflow: hidden;position: absolute;top: 0.4rem;left: 0.4rem;}
.hf_gl h1{line-height: 24px;font-size:12px;font-weight: normal;color:#999999;padding-left:35px;}
.hf_gl h1 span{line-height: 24px;font-size:14px;color:#999999;padding-right:10px;}
.hf_gl p{padding-top:0.1rem;border: none;color:#666666;padding-bottom: 0;font-size: 12px;padding-left: 0.2rem;}
.comment_bottom{width:10rem;height:0.6rem;background: url(http://m.cebnet.com.cn/upload/2017wapnewtu/comment_bottom.png) repeat-x;background-size:10rem 0.6rem; }
.bottom-more{background: #f5f5f5;}
.bottom-more-pl {border: none;display: inline-block;width: 100%;  }
.bottom-more { height: 20px;cursor: pointer; margin-top: 0.2rem;text-align: center}
.bottom-more img{width:18px;height:12px;margin-top:4px;}
.reminder{position: fixed;z-index: 100000; height: 35px;top: 0;left:0;line-height: 35px;width: 100%; color: #ffffff; font-size: 15px;  text-align: center; display:none }
.reminder.success{ background: rgba(60, 165, 246, 0.75);}
.reminder.error{background: rgba(246, 55, 86, 0.75)}
/*loading*/
.load{ width: 100%;height: 50px;background: #f2f2f2; margin: 10px 0 20px 0;}
.load p{text-align: center;font-size: 0.5rem;line-height: 50px;color:#666666}

.white_null{font-size: 0.5rem;
    line-height: 32px;
    color: #666666;
    margin: 2.5rem 0;
    text-align: center;}
.white_null img {
    width: 40px;
    height: 40px;
}



/*对话样式*/
.shopShow {
    width:4rem;
    text-align:center;
    font-size:12px;
    color:#0085e8;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
.right10 {
    margin-left: 0.2rem;
    width: 6.4rem;
}

.left10 {
    margin-right: 0.2rem;
    width: 6.4rem;
}

body {
    background: #ebebeb;
}

.main {
    width: 10rem;
    margin: 0 auto;
    overflow: hidden;
    background: #ebebeb;
}

.content {
    padding: 0 0.2rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto
}

.content section {
    margin-top: 20px;
    position:relative;
}

.list_head {
    width: 1rem;
    height: 1rem
}

.list_head img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.list_content .name {
    font-size: 14px;
    color: #666;
}

.list_content .article_word {
    border-radius: 5px;
    margin-top: 0.2rem;
}

.list_content .article_word span {
    display: block;
    padding: 0.2rem;
    font-size: 16px;
    line-height: 24px;
}

.list_content .article_word span a {
    color: #f1885f;
    /**font-style: italic;**/
    font-size: 16px;
    font-weight:500;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration:underline;
}

.first_people {
    color: #333333;
    background: #Ffffff;
}

.second_people {
    color: #Ffffff;
    background: #0085e8;
}

.list_content .article_tu {
    width: 4rem;
    cursor: pointer;
}

.list_content .article_tu img {
    width: 100%;
    margin-top: 0.2rem;
    cursor: pointer;
}

.list_content .article_tu_noa {
    width: 4rem;
    cursor: pointer;
}

.list_content .article_tu_noa img {
    width: 100%;
    margin-top: 0.2rem;
    cursor: pointer;
}

.hyy {
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    width: 45px;
    margin: 0 auto;
    background: #adabab;
    font-weight: 500;
    padding: 1px 0;
    border-radius: 4px;
}

.aside_people {
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 20px;
    padding: 0.1rem 1rem 0 1rem;
}

.aside_tu {
    max-width: 250px;
    margin: 5px auto 0;
    display: block;
    cursor: pointer;
}

.aside_tu_noa {
    max-width: 250px;
    margin: 5px auto 0;
    display: block;
    cursor: pointer;
}

.footer_desc {
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    width: 50px;
    margin: 0 auto;
    background: #333333;
    font-weight: 500;
    padding: 1px 0;
    border-radius: 1px;
    display:none;
}

.footer_pic {
    border:solid 2px #eee;
    max-width: 95%;
    margin: 5px auto 30px;
    display: block;
    cursor: pointer;
}

.next {
    width: 9rem;
    padding: 10px 0.5rem;
    position: fixed;
    left: 50%;
    margin-left: -5rem;
    bottom: 0;
    background: #ebebeb;
    z-index:1
}

.nextTick .frame {
    position: absolute;
    top: 10px;
    width: 40px;
}

.nextTick .frame_left {
    left: 10px;
}

.nextTick .frame_right {
    right: 10px;
}

.next_button {
    width: 75px;
    display: block;
    margin: 19px auto 10px;
}

.content section:last-of-type {
    margin-bottom: 70px;
}

.titleShow {
    padding:8px 5px 0 5px;
}

.titleShow h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #333;
    padding-bottom: 5px;
}
.postinfo {
    color: #999;
    margin: 2px 0 0;
    overflow: hidden;
}
.postinfo>span, .postinfo>div>span {
    padding: 0 6px;
    position: relative;
    display: inline-block;
    line-height: 24px;
    font-size:12px;
}
.postinfo>span:before, .postinfo>div>span:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background-color: #ddd;
    right: -1px;
    top: 7px;
}
.postinfo .author img {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 6px;
}
.postinfo a {
    color: #999;
}

/*提示*/
.reminder {
    position: fixed;
    z-index: 100000;
    height: 66px;
    top: 0;
    left: 0;
    line-height: 66px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: none
}

.reminder.success {
    background: rgba(60, 165, 246, 0.75);
}

.reminder.error {
    background: rgba(246, 55, 86, 0.85)
}

/**图片浮层**/
.picture {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    cursor: pointer;
}

.picture .pic {
    width: 9rem;
    height: 80%;
    margin: 20% auto 0;
}

.picture .pic img {
    width: 100%
}

.picture span {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -20px;
    cursor: pointer;
}

.picture span img {
    width: 100%;
    cursor: pointer;
}

.linkimg img{
    border:2px dashed #ff0076;
}

/**结束浮层**/
.endfloat {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(214, 58, 95, 0.9);
    display: none;
    cursor: pointer;
}

.endfloat .pic {
    width: 9rem;
    height: 80%;
    margin: 30% auto 0;
}

.endfloat .pic img {
    width: 100%
}

.endfloat span {
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -33px;
    cursor: pointer;
}

.endfloat span img {
    width: 100%;
    cursor: pointer;
}

/**锁定浮层**/
.loveHereChic {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}

.loveHereChic p {
    height: 22px;
    font-family: inherit;
}


.loveHereChic .pic {
    width: 6rem;
    height: 80%;
    margin: 40% auto 0;
}

.loveHereChic .pic img {
    width: 100%
}

.loveHereChic span {
    height: 30px;
    display: block;
    position: absolute;
    bottom: 30%;
    left: 23%;
    margin: 40% auto 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    color: #666;
}

.loveHereChic span img {
    width: 100%;
    cursor: pointer;
}

/*悬浮层*/
.layer {
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 4;
}

.layer_menu {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    border-radius: 50%;
}

.layer_menu .black_bg {
    width: 35px;
    height: 35px;
    padding: 5px;
    float: left;
    margin-right: 10px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    border-radius: 50%;
}

.layer_menu img {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.layer_show {
    width: 250px;
    height: 50px;
    padding-right: 50px;
    border-radius: 25px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.show_bg {
    width: 300px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 4;
}

.layer_show ul {
    width: 250px;
    height: 36px;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 5;
}

.layer_show ul li {
    width: 25%;
    float: left;
    display: block;
    text-align: center;
}

.layer_show ul li a {
    width: 100%;
    color: #fff;
    float: left;
}

.layer_show ul li a p {
    font-size: 12px;
}

/*评论*/
.content-comment{
    margin-bottom:70px;
}


